<section>
  <div class="container my-5 register border border-2 rounded-3 py-3">
    <div class="row g-4 align-items-center">
      <div class="col-md-6">
        <div>
          <img src="./assets/images/Sign up-rafiki.svg" alt="signUp" />
        </div>
      </div>

      <form
        class="example-form col-md-6"
        [formGroup]="registerForm"
        (ngSubmit)="handelForm(registerForm)"
      >
        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Name</mat-label>
          <input
            type="text"
            formControlName="name"
            matInput
            placeholder="Ex: kawther"
          />
          <mat-error *ngIf="registerForm.get('name')?.hasError('minlength')">
            Minimum Length is 3 chars
          </mat-error>
          <mat-error *ngIf="registerForm.get('name')?.hasError('maxlength')">
            Maximum Length is 10 chars
          </mat-error>
          <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ex: pat@example.com"
          />
          <mat-error
            *ngIf="
              registerForm.get('email')?.hasError('email') &&
              !registerForm.get('email')?.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Password</mat-label>
          <input
            placeholder="Ex: Aa12345"
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
            Minimum 5 characters ,start with capital letter
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Age</mat-label>
          <input
            type="number"
            formControlName="age"
            matInput
            placeholder="Ex: your age"
          />
          <mat-error *ngIf="registerForm.get('age')?.hasError('pattern')">
            Age must be between 10 and 80
          </mat-error>
          <mat-error *ngIf="registerForm.get('age')?.hasError('required')">
            Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline" color="accent">
          <mat-label>Phone</mat-label>
          <input
            type="tel"
            formControlName="phone"
            matInput
            placeholder="Ex: 01156583620"
          />
          <mat-error *ngIf="registerForm.get('phone')?.hasError('pattern')">
            Accept only Egyptain phone
          </mat-error>
          <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">
            Phone is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="registerForm.invalid"
          mat-raised-button
          color="accent"
          class="w-100"
        >
          <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
          <span *ngIf="!isLoading"> Sign Up</span>
        </button>
      </form>
    </div>
  </div>
</section>
