/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto+Slab:wght@300&display=swap");

:root {
  --main-font: "Croissant One", cursive, "Roboto Slab", serif;
  --main-btn: #fc6736;
  --main-bg: hsl(44, 85%, 97%);
}

body {
  font-family: var(--main-font);
  /* font-family: "Courier New", Courier, monospace; */
}
.myBtn {
  background-color: var(--main-btn);
  transition: 0.5s all;
  color: #fff;
}
.myBtn:hover {
  background-color: #fefbf3;
  border: 1px solid var(--main-btn);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  padding: 50px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
